* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8faff;
    color:  #126b63;
}



.about-hero {
    text-align: center;
    padding: 70px 20px 55px;
}

.small-title {
    color: #126b63;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.about-hero h1 {
    font-size: 42px;
    margin-bottom: 18px;
}

.about-hero h1 span,
.section h2 span,
.features h2 span,
.project h2 span,
.contact h2 span {
    color:#172033;
}

.about-hero > p:last-child {
    max-width: 680px;
    margin: auto;
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.section {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 65px;
    background: white;
    padding: 45px;
    border-radius: 14px;
    border: 1px solid #e8edf3;
}

.section-text {
    max-width: 750px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.section-text > p:last-child {
    color: #777;
    line-height: 1.8;
    font-size: 14px;
}

.features {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 70px;
    text-align: center;
}

.features h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.feature-card {
    background: white;
    padding: 28px;
    text-align: left;
    border: 1px solid #e7edf3;
    border-radius: 12px;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.icon {
    width: 52px;
    height: 52px;
    background: #e7f5fd;
    color: #126b63;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 23px;
    margin-bottom: 18px;
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature-card p {
    color: #777;
    font-size: 13px;
    line-height: 1.7;
}

.mission-vision {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.info-box {
    background:  #126b63;
    color: white;
    padding: 35px;
    border-radius: 14px;
}

.info-box .icon {
    background: white;
    color:  #126b63;
}

.info-box h2 {
    margin-bottom: 12px;
}

.info-box p {
    font-size: 14px;
    line-height: 1.8;
}

.project {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 70px;
    text-align: center;
    background: white;
    padding: 45px;
    border-radius: 14px;
    border: 1px solid #e8edf3;
}

.project h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.project > p:last-child {
    max-width: 750px;
    margin: auto;
    color: #777;
    font-size: 14px;
    line-height: 1.8;
}

.contact {
    background:  #126b63;
    color: white;
    text-align: center;
    padding: 45px 20px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.contact-items {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.contact-items p {
    font-size: 13px;
    color: #d9deea;
}

footer {
    background:  #126b63;
    color: #aaa;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

@media (max-width: 800px) {
    .feature-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-vision {
        grid-template-columns: 1fr;
    }

    .navbar {
        gap: 15px;
    }
}

@media (max-width: 550px) {
    .header {
        padding: 0 5%;
    }

    .navbar {
        gap: 10px;
    }

    .navbar a {
        font-size: 11px;
    }

    .about-hero h1 {
        font-size: 32px;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }
}