
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
        overflow-x: hidden !important;
    overscroll-behavior-x: none !important;
}
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #f7faf9;
    color: #172033;
    overflow-x: hidden;
     overscroll-behavior-x: none;
}

a {
    text-decoration: none;
}

.schedule-section {

    background: white;
    border-radius: 0px;
    padding: 25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);

}

.section-header {
  text-align: left;
   align-items: left;
    margin-bottom: 20px;
margin-right:100px ;
  
}

.section-header h2 {

    font-size: 22px;
    color: #172033;
  
}

.section-header p {
    margin-top: 20px;
    color: #126b63;
    font-size: 14px;
}

.schedule-table {
    width: 80%;
    overflow-x: auto;
    margin-left: 250px;
   
}

.schedule-table table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th {
    background: #f5f7f7;
    color: #172033;
    text-align: left;
    padding: 14px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.schedule-table td {
    padding: 14px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #eee;
}


.schedule-table tr:hover {
    background: #fafafa;
}

.available {
    background: #e8f6ef;
    color: #198754;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
.stats{
    display: flex;
    align-items: center;   
    gap: 20px; 
    margin-left: 100px;
    margin-bottom: 100px;
    position: relative;
    margin:120px 0px 20px 100px;
}
.stat-card{
    width: 200px;
    height: 100px;
    background: #126b63;
    border-radius: 10px;
    padding: 15px;
    color: white;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
}
.stat-icon{
height: 40px;
width: 40px;    
align-items:center;
justify-content:center;
 margin-right: 20px;
 text-align: center;



}
.stat-icon i{
    font-size: 20px;
    color: white;
    text-align: center;
    align-items:center;
justify-content:center;
margin-left: 70px;
    margin-top: 5px;
}
p{
    font-size: 14px;
    color: white;
    text-align: center;
    align-items:center;

}
h2{
    font-size: 20px;
    color: white;
    text-align: center;
    align-items:center;

}
