*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
}


header{
    background:#2c3e50;
    color:white;
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#f1c40f;
}

.logo{
    font-size:28px;
    font-weight:bold;
}



.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
   
    background-size:cover;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.search-box{
    margin-bottom:20px;
}

.search-box input{
    padding:12px;
    width:280px;
    border:none;
    border-radius:5px;
}

.search-box button{
    padding:12px 20px;
    background:#f1c40f;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.btn{
    padding:14px 35px;
    border:none;
    background:#27ae60;
    color:white;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#219150;
}



.services{
    padding:70px 10%;
}

.services h2{
    text-align:center;
    margin-bottom:40px;
    font-size:35px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}


.stats{
    display:flex;
    justify-content:center;
    gap:40px;
    background:#2c3e50;
    color:white;
    padding:60px;
    flex-wrap:wrap;
}

.stat-box{
    text-align:center;
}

.stat-box h2{
    font-size:45px;
    color:#f1c40f;
}



footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}



@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

.search-box input{
    width:200px;
}

}